@import 'styles/config';

.buttons {
  color: $wheat;
  background-color: $white;
  padding: 1.125rem 5rem;
  border: 1px solid $wheat;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $wheat;
  }
}

.seperator {
  display: flex;
  align-items: center;
}

.seperator .line {
  flex: 1;
  height: 1px;
  background-color: $gainsboro;
}
