@import 'styles/config';

.buttons {
  background-color: $trans;
  border: 1px solid $wheat;
  color: $wheat;
  cursor: pointer;
  padding: 1.125rem 0;
  text-decoration: none;
  white-space: nowrap;
  width: 15.625rem;

  &:hover {
    background-color: $wheat;
    color: $white;
  }

  &:focus {
    background-color: $wheat;
    color: $white;
  }

  @media (max-width: 499px) {
    font-weight: 500;
  }
}

.header-btn {
  background-color: $trans;
  border: 1px solid $wheat;
  color: $wheat;
  cursor: pointer;
  margin-top: 2rem;
  padding: 1.125rem 0;
  text-decoration: none;
  white-space: nowrap;
  width: 15.625rem;

  &:hover {
    background-color: $wheat;
    color: $white;
  }
}

.seperator {
  align-items: center;
  display: flex;
}

.seperator .line {
  background-color: $gainsboro;
  flex: 1;
  height: 1px;
}

.seperator-marg {
  margin-top: 2rem;

  .recipe-section-btn {
    margin-left: 5rem;
    margin-right: 5rem;

    @media (max-width: 499px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
