@import 'styles/config';

.recipe-card {
  background-color: $white;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;

  .recipe-card-content {
    color: $darkgray;
    line-height: 2rem;
    padding-left: 1.5rem;
  }

  .recipe-card-content2 > h3 {
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .recipe-card-content2 > a {
    color: $wheat;
  }

  .recipe-card-content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2rem;
    padding: 0 1.5rem 1.5rem;

    .read-more {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.mynd img {
  width: 100%;
}

.mynd-fixed-height img {
  height: 235px;
  object-fit: cover;
  width: 100%;
}
