$max-width: 1290px;
$grid-columns: 12;
$offset-columns: 12;


//colors
$black: #000;
$darkgray: #9b9b9b9b;
$wheat: #e3cdb1;
$white: #fff;
$white-ish: #fafafa;
$light-grey: #d0d0d0;
$diff-black: #333;
$gainsboro: #e7e7e7e7;
$linen: #f7f1eb;
$trans: transparent;
$dimgray: #5E5B69;


