@import 'styles/config';

.subscribe {
  background-color: $black;
}

.subscribe-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20.625rem;
  justify-content: space-between;

  @media (max-width: 899px) {
    flex-direction: column;
    justify-content: center;
  }
}

.email-input {
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;

  @media (max-width: 899px) {
    padding: 2rem 0;
  }
}

.input {
  background-color: $trans;
  border: 0;
  border-bottom: 1px solid $wheat;
  box-shadow: none;
  color: $white;
  height: 2rem;
  outline: 0;
  width: 17.5rem;

  &::placeholder {
    color: $white;
    font-size: 1.375rem;
    font-weight: bold;

    @media (max-width: 499px) {
      font-size: 1rem;
    }
  }
}

.subscribe-text > h2 {
  color: $white;
}

.join-us {
  display: flex;
  flex-direction: column;
  height: 20.625rem;
  justify-content: center;
  line-height: 1.0625rem;
  text-align: center;

  @media (max-width: 499px) {
    height: 12.5rem;
  }
}

.ju-text {
  color: $black;
  font-size: 1.125rem;
  line-height: 17px;
}

.ju-social {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socials1 {
  background-image: url('/img/facebook.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border: 2px solid $wheat;
  border-radius: 1.5rem;
  height: 2.5rem;
  margin: 1.25rem;
  width: 2.5rem;

  @media (max-width: 499px) {
    background-image: url('/img/facebook-gray.svg');
    border: 2px solid $light-grey;
  }
}

.socials2 {
  background-image: url('/img/twitter.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border: 2px solid $wheat;
  border-radius: 1.5rem;
  height: 2.5rem;
  margin: 1.25rem;
  width: 2.5rem;

  @media (max-width: 499px) {
    background-image: url('/img/twitter-gray.svg');
    border: 2px solid $light-grey;
  }
}

.socials3 {
  background-image: url('/img/youtube.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border: 2px solid $wheat;
  border-radius: 1.5rem;
  height: 2.5rem;
  margin: 1.25rem;
  width: 2.5rem;

  @media (max-width: 499px) {
    background-image: url('/img/youtube-gray.svg');
    border: 2px solid $light-grey;
  }
}

.ju-link {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 21px;
}

.link {
  color: $light-grey;
}
