@import "styles/config";

.subscribe {
  background-color: $black;
}

.subscribe-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8.125rem;
  padding-top: 8.125rem;
}

.email-input {
  font-size: 0.875rem;
  color: $white;
  display: flex;
  flex-direction: column;
}
input {
  box-shadow: none;
  background-color: $trans;
  color: $white;
  outline: 0;
  border: 0;
  border-bottom: 1px solid $wheat;
  height: 2rem;
  width: 17.5rem;

  &::placeholder {
    font-size: 1.375rem;
    font-weight: bold;
    color: $white;
  }
}

.subscribe-text > h2 {
  color: $white;
}

.join-us {
  text-align: center;
  line-height: 1.0625rem;
}

.ju-text {
  font-size: 1.125rem;
  color: $black;
  line-height: 17px;
}

.ju-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socials1  {
  background-image: url('/img/facebook.svg');
  background-position: center;
  background-size:60%;
  background-repeat: no-repeat;
  border: 2px solid $wheat;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1.25rem;
}

.socials2 {
  background-image: url('/img/twitter.svg');
  background-position: center;
  background-size:60%;
  background-repeat: no-repeat;
  border: 2px solid $wheat;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1.25rem;
}

.socials3 {
  background-image: url('/img/youtube.svg');
  background-position: center;
  background-size:60%;
  background-repeat: no-repeat;
  border: 2px solid $wheat;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1.25rem;
}

.ju-link {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 21px;


}

.link {
    color: $light-grey;
  }

.ju-content {
  margin-bottom: 6.5rem;
  margin-top: 6.5rem;
}
