@import 'styles/config';

header {
  background-color: $white-ish;
  height: 5rem;
  margin: auto;
  position: relative;
  width: 100%;
  z-index: 2;

  &.menu-open {
    height: 100vh;

    .fixed-header {
      background-color: $white;
      height: 100%;
      position: fixed;
      width: 100%;

      .header-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .burger {
          display: block !important;

          .lines {
            display: none;
          }

          .ex {
            display: block;
          }
        }

        .mobile-selection {
          display: block;
        }

        .nav-links {
          background-color: $white;
          display: flex;
          flex-direction: column;
          height: calc(100vh - 5rem);
          justify-content: space-evenly;
          text-align: center;
          width: 100%;

          .header-selection {
            border-bottom: 1px solid;
            border-color: $black;
            color: $black;
            display: flex;
            flex: 1;
            flex-direction: column;
            font-family: 'Playfair Display', serif;
            font-size: 3.75rem;
            font-weight: bold;
            justify-content: center;
            margin: 0;
            padding: 0;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.mobile-selection {
  display: none;
}

.fixed-header {
  background-color: $white-ish;
  position: fixed;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
}

.nav-links {
  @media (max-width: 499px) {
    display: none;
  }
}

.header-selection {
  color: $darkgray;
  font-weight: 500;
  margin: 1rem;
}

.burger {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1.5rem;

  .lines {
    width: 2rem;
  }

  .ex {
    display: none;
    width: 1.5rem;
  }

  @media (max-width: 499px) {
    display: block;
  }
}

.logo {
  &:hover {
    cursor: pointer;
  }
}
