@import 'styles/config';

// Þarf að skoða betur!

header {
  width: 100%;
  margin: auto;
  background-color: $white-ish;
  margin-bottom: 8rem;
}

.thenav {
background-color: $white-ish;
position: fixed;
width: 100%;

}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.home-hero {
  height: 100vh;
  background-image: url(/img/header-cake.svg);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;
}

/*.nav-bar {
  background-color: $white-ish;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}*/

.nav-selection {
  margin: 1rem;
  color: $darkgray;
  font-weight: 500;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-text{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
}

.text-above-h1 {
  color: wheat;
  font-weight: 500;
}

.pumpkin-pie {
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.header-btn {
  color: $wheat;
  background-color: $white;
  padding: 1.125rem 5rem;
  border: 1px solid $wheat;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 2rem;

   &:hover {
    color: $white;
    background-color: $wheat;
  }
}
