@import 'styles/config';

// Þarf að skoða betur!

.hero {
  background-color: $white-ish;
  background-image: url('/img/header-cake.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  height: calc(100vh - 5rem);
  margin: auto;
  min-height: 800px;
  padding-top: 9.6875rem;
  width: 100%;

  @media (max-width: 899px) {
    background-position: left;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;

  @media (max-width: 899px) {
    text-align: center;
  }
}

.text-above-h1 {
  color: $wheat;
  font-weight: 500;
}

.pumpkin-pie {
  font-size: 3.75rem;
  margin-bottom: 3rem;
  margin-top: 1rem;

  @media (max-width: 899px) {
    font-size: 3rem;
  }

  @media (max-width: 499px) {
    font-size: 2rem;
  }
}

.text-under-h1 {
  color: $dimgray;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2rem;

  @media (max-width: 899px) {
    display: none;
  }
}
