.thenav {
  background-color: $white-ish;
  position: fixed;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
}

.nav-selection {
  color: $darkgray;
  font-weight: 500;
  margin: 1rem;
}
