@import 'styles/config';

.book-section {
  background: linear-gradient($linen, $linen 87%, $white 25%);
  margin-bottom: 10rem;

  @media (max-width: 499px) {
    background: linear-gradient($linen, $linen 62.5%, $white 25%);
    margin-bottom: 0;
  }
}


.book-btn {
  background-color: $trans;
}

.book-content {
  height: 766px;
  display: flex;
  flex-direction: row;

  @media (max-width: 499px) {
    text-align: center;
    flex-direction: column;
  }
}

.book-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4.5rem;
}

.our-book-mynd {
  padding-top: 8rem;

  @media (max-width: 499px) {
    padding-top: 0;
  }
}

.our-book {
  margin-top: 0;
  margin-bottom: 0.5rem;

  @media (max-width: 499px) {
    margin-top: 2rem;
  }
}

.mobile-only {
  display: none;

  .desktop-only {
    display: block;
  }
}

@media (max-width: 899px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block
  }
}

@media (max-width: 499px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block
  }

  .our-book-mynd > img {
    height: 55%;
  }
}
