@import 'styles/config';

.book-section {
  background: linear-gradient($linen, $linen 87%, $white 25%);
  margin-bottom: 10rem;
}


.book-btn {
  background-color: $trans;
}

.book-content {
  height: 766px;
  display: flex;
  flex-direction: row;
}

.book-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4.5rem;
}

.our-book-mynd {
  display: flex;
  padding-top: 8rem;
}


.our-book {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
