@import 'styles/config';

.recipe-section {
  background: linear-gradient($white, $white 30%, $white-ish 25%);
  padding: 8rem 0;

  @media (max-width: 899px) {
    padding: 2rem 0;
  }
}

.get-rdy {
  color: $wheat;
}

.recipe-section-text > h2 {
  color: $light-grey;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;

  .black-text {
    color: $diff-black;
  }

  @media (max-width: 499px) {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}

@media (max-width: 499px) {
  .recipe-section-text {
    text-align: center;
  }

  .sm-no-display {
    display: none;
  }
}

.seperator-marg {
  margin-top: 2rem;

  .recipe-section-btn {
    margin-left: 5rem;
    margin-right: 5rem;

    @media (max-width: 499px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.vid-mynd {
  position: relative;
}

.vid-mynd > .imgtest {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.875rem;
  height: 2.34375rem;
}

.vid-mynd > .vid-imgs {
  width: 100%;
}
