@import 'styles/config';

.recipe-page-ingredients {
  align-items: flex-end;
  color: #d0d0d0;
  display: flex;
  font-family: 'Playfair Display';
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  height: 53px;
  left: 0;
  line-height: 53px;
  margin-bottom: 35px;
  margin-top: 40px;
  position: static;
  top: 0;
  width: 214px;
}

.recipe-for-the-dough-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0;

  p {
    font-weight: 400;
  }
}

.list-container {
  align-items: center;
  display: flex;
  flex-direction: row;

  .list-number {
    color: #e3cdb1;
    font-size: 36px;
    width: 14px;
  }

  .list-text {
    color: #9b9b9b;
    font-size: 18px;
    margin-left: 50px;
  }
}

.recipe-directions {
  color: #d0d0d0;
  font-family: 'Playfair Display';
  font-size: 40px;
  margin-bottom: 35px;
  margin-top: 40px;
}

.method-container {
  p {
    color: #d0d0d0;
    margin-bottom: 1rem;
  }
}

.method-container > p:nth-child(4),
p:nth-child(6) {
  margin-bottom: 4rem;

  @media (max-width: 899px) {
    margin-bottom: 1rem;
  }
}

.method-flex {
  display: flex;

  @media (max-width: 499px) {
    flex-direction: column;
  }
}

.description-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

  @media (max-width: 899px) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  @media (max-width: 499px) {
    flex-direction: column;
  }

  .description-item-container {
    display: flex;
  }

  img {
    height: 24px;
    width: 24px;
  }

  .first-word {
    align-items: center;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
  }

  .second-word {
    color: #5e5b69;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 300;
    margin-right: 1rem;
    padding-left: 3px;
  }
}

.paragraph {
  @media (max-width: 499px) {
    text-align: justify;
  }
}

.img {
  margin-right: 1rem;
}
