@import 'styles/config';

.recipe-section {
  background: linear-gradient($white, $white 30%, $white-ish 25%);
  padding: 8rem 0;
}

.get-rdy {
  color: $wheat;
}

.recipe-section-text > h2 {
  color: $light-grey;
  font-size: 2.5rem;
  margin-bottom: 2rem;

  .black-text {
    color: $diff-black;
  }
}

.seperator-marg {
  margin-top: 2rem;

  .recipe-section-btn {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.vid-mynd {
  position: relative;
}

.vid-mynd > .imgtest {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.875rem;
  height: 2.34375rem;
}

.vid-mynd > .vid-imgs {
  width: 100%;
}
